
.container {
    max-width: 960px;
}
.site-header a {
    color: black !important;
}

#profil img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 2em;
}
#profil img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#logologo img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 2em;
}
#logologo img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#kommunikation img {
    width: 400px;
    height: 276px;
    border-radius: 10px;
    margin-bottom: 2em;
}
#kommunikation img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#sprachverstaendnis img {
    width: 400px;
    height: 278px;
    border-radius: 10px;
    margin-bottom: 2em;
}
#sprachverstaendnis img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#buchstaben img {
    width: 400px;
    height: 267px;
    border-radius: 10px;
    margin-bottom: 2em;
}
#buchstaben img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#mediuspraxis img {
    width: 400px;
    height: 267px;
    border-radius: 10px;
    margin-bottom: 2em;
}
#mediuspraxis img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#iconright img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 2em;
}
#iconright img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#rightheader {
    float: right;
    text-align: right;
}
li {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
p {
    text-align: justify;
}
h2{
    font-size: 1.75em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 2em;
}
ul {
    margin: 0;
    padding: 0;
}
/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}
.div-wrapper img {
    position: relative;
    bottom: 0;
}


/*
 * Extra utilities
 */

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}
@media (min-width: 1068px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }

}
@media screen and (max-width: 1067px) {
    #profil img {
        width: 80%;
        height: 80%;
    }
    #iconright img {
        width: 0%;
        height: 0%;
    }
    #kommunikation img {
        width: 80%;
        height: 80%;
    }
    #sprachverstaendnis img {
        width: 80%;
        height: 80%;
    }
    #mediuspraxis img {
        width: 80%;
        height: 80%;
    }
    #buchstaben img {
        width: 80%;
        height: 80%;
    }
    #title-logo {
        font-size: 2.4em;
    }
}
@media screen and (max-width: 1370px) {
    #title-logo {
        font-size: 2.4em;
    }
}

.overflow-hidden { overflow: hidden; }
